:root {
  --bs-primary-rgb: 244, 244, 234;
  --bs-secondary-rgb: 113, 126, 195;
  --bs-light-rgb: 255, 255, 255;
}

body {
  font-family: 'Inter Tight', sans-serif;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body > section {
  min-height: 100%;
}

body > section:not(:first-of-type) {
  padding-top: calc(56px + 1rem) !important;
}

nav {
  border-bottom: 1px solid
}

h1, h2 {
  font-family: 'Poller One', cursive;
}

h3 {
  font-family: 'IBM Plex Serif', serif;
}

img {
  border: 1px solid;
}

body, .board {
  background-color: rgb(244, 244, 234);
}

.bg-tertiary {
  background: rgb(105 139 209);
}

.board {
  border: 1px solid;
  border-radius: 15px
}

.bottom-page {
  position: absolute;
  top: calc(100vh - 3em);
}

.bottom-page, .wiggle span {
  z-index: -1;
}

.wiggle span {
  position: relative;
  transition: .5s top;
}