:root {
  --bs-primary-rgb: 244, 244, 234;
  --bs-secondary-rgb: 27, 27, 27;
  --bs-light-rgb: 255, 255, 255;
  --bs-link-color: #7cbcb5;
}

body {
  font-family: 'Inter Tight', sans-serif;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body > section {
  min-height: 100%;
}

body > section:not(:first-of-type) {
  padding-top: calc(56px + 1rem) !important;
}

nav {
  border-bottom: 1px solid
}

h1, h2 {
  font-family: 'Poller One', cursive;
}

h3 {
  font-family: 'Archivo', sans-serif;
}

img {
  border: 1px solid;
  max-width: 300px;
}

body {
  background-color: rgb(244, 244, 234);
}

.board {
  background-color: rgb(27, 27, 27);
  color: rgb(244, 244, 234);
}

.bg-tertiary {
  background: rgb(105 139 209);
}

.board {
  border: 1px solid;
  border-radius: 15px
}

.bottom-page {
  position: absolute;
  top: calc(100vh - 3em);
}

nav {
  z-index: 2;
}

.fade-in {
  opacity: 0;
  filter: blur(5px);
  transition: filter 1000ms;
}

.fade-in.scrolled {
  opacity: 1;
  filter: blur(0px);
}

.pop-in {
  transform: scale(0);
  transition: transform 1000ms;
}

.pop-in.scrolled {
  transform: scale(1);
}

.slide-in {
  transform: translateX(-100%);
  transition: transform 1000ms;
}

.slide-in.scrolled {
  transform: translateX(0);
}

.wiggle span {
  position: relative;
  transition: .5s top;
}

#current-events {
  scroll-margin-top: 7em;
}

@media (min-width: 992px) {
  .workboard {
    width: 75%;
    margin: 0 auto;
  }

  .board {
    align-self: flex-start;
    width: 90%;
  }

  .board:nth-of-type(2n) {
    align-self: flex-end;
  }
}